* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: url("https://wallpapercave.com/wp/wp4069429.png") no-repeat center;
  background-size: cover;
}
form {
  border-radius: 20px;
  border: 2px solid #f2efff;
  margin: 50px;
  padding: 30px;
  background-color: #f5f5f5;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  z-index: 2;
  overflow: hidden;
  backdrop-filter: blur(5px);
}
form .form-title {
  font-size: 1.9em;
  text-align: center;
  margin-bottom: 15px;
  color: #f3bc23;
}
label {
  color: #f3bc23;
  display: block;
  padding: 4px 0px;
  font-size: 1.3em;
  font-weight: 600;
}
input,
select,
textarea {
  border-radius: 10px;
  border: 2.5px solid #f77931;
  font-size: 1.25em;
  width: 100%;
  max-width: 100%;
  padding: 10px;
}
input:focus,
select:focus,
textarea:focus {
  color: #f20089;
  outline-color: #db00b6;
}
.input-group.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.inline-input {
  display: flex;
  flex-direction: column;
  width: 48%;
}
textarea {
  margin-bottom: 20px;
}
#submit {
  cursor: pointer;
  transition: 0.5s ease;
  margin: 20px 0;
}
#submit:hover {
  color: #00ccff;
  background-color: #cc00ff;
}
#code {
  width: 30%;
}
#phone-box {
  width: 66%;
}
#after-text-container {
  width: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 30px;
  background-color: #f5f5f5;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  z-index: 2;
  overflow: hidden;
  backdrop-filter: blur(5px);
  display: none;
}
#after-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
#after-text h2 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 10px;
}
#after-text p {
  margin: 7px 0;
  font-size: 1.2em;
  font-weight: 600;
}
#after-text #return {
  color: #000;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  border: 2.5px solid #000;
  font-size: 1.25em;
  padding: 6px;
  transition: 0.3s ease;
}
#after-text #return:hover {
  background-color: #f3bc23;
}

@media (max-width: 777px) {
  #phone-box,
  #code,
  .input-group.inline,
  .inline-input {
    display: block;
    width: 100%;
    margin: 0;
  }
  #after-text-container {
    width: 70%;
  }
  #after-text h2 {
    font-size: 1.5em;
  }
  #after-text p {
    font-size: 1em;
  }
  #after-text #return {
    font-size: 1em;
    padding: 4px;
  }
}
@media (max-width: 477px) {
  form .form-title {
    font-size: 1.4em;
  }
  label,
  input,
  select {
    font-size: 1em;
  }
  input,
  textarea {
    padding: 7px;
  }
  #after-text-container {
    width: 80%;
  }
  #after-text h2 {
    font-size: 1.4em;
  }
  #after-text p {
    font-size: 0.9em;
  }
  #after-text #return {
    font-size: 0.9em;
    padding: 4px;
  }
}
@media (max-width: 382px) {
  form .form-title {
    font-size: 1.2em;
  }
  label,
  input,
  select {
    font-size: 0.9em;
  }
  input,
  textarea {
    padding: 6px;
  }
}
