* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Bebas Neue", sans-serif;
  background: #fff;
  color: #221314;
}

section {
  padding: 80px 18%;
}

.text h2 {
  font-size: 2.5rem;
  line-height: 1.1;
}

.text .lets-explore {
  color: #003656;
}

.text .details {
  color: #fdb813;
}

#information {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 10px;
  padding-top: 80px;
}

#information .text {
  color: #fff;
  border-radius: 20px 0 0 20px;
  margin: 0;
  padding: 60px;
  background-color: #232b2b;
  width: 50%;
}

#information .text p {
  line-height: 1.5em;
  margin-top: 10px;
}

.container figure {
  margin: 0;
  width: 50%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-image: url(../../images/USS_images/newyork_image7.jpg);
  border-radius: 0 20px 20px 0;
}

.row-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 5rem;
}

.container-box {
  display: inline-block;
  background: #fff;
  border: 1px solid #f0eded;
  padding: 80px 20px;
  margin: 25px 15px;
  border-radius: 4px;
  transition: 1s ease;
  cursor: pointer;
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.container-box:nth-child(1) {
  background: url(../../images/USS_images/newyork_image1.jpg) no-repeat center;
  background-size: cover;
}

.container-box:nth-child(2) {
  background: url(../../images/USS_images/newyork_image2.jpg) no-repeat center;
  background-size: cover;
}

.container-box:nth-child(3) {
  background: url(../../images/USS_images/newyork_image3.jpg) no-repeat center;
  background-size: cover;
}

.container-box:nth-child(4) {
  background: url(../../images/USS_images/newyork_image4.jpg) no-repeat center;
  background-size: cover;
}

.container-box:nth-child(5) {
  background: url(../../images/USS_images/newyork_image5.jpg) no-repeat center;
  background-size: cover;
}

.container-box:nth-child(6) {
  background: url(../../images/USS_images/newyork_image6.jpg) no-repeat center;
  background-size: cover;
}

.container-box:nth-child(1):hover {
  background: rgba(0, 0, 0, 0.7) url(../../images/USS_images/newyork_image1.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  transition: 1s ease;
}

.container-box:nth-child(2):hover {
  background: rgba(0, 0, 0, 0.7) url(../../images/USS_images/newyork_image2.jpg)
    no-repeat center;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  transition: 1s ease;
}

.container-box:nth-child(3):hover {
  background: rgba(0, 0, 0, 0.7) url(../../images/USS_images/newyork_image3.jpg)
    no-repeat center;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  transition: 1s ease;
}

.container-box:nth-child(4):hover {
  background: rgba(0, 0, 0, 0.7) url(../../images/USS_images/newyork_image4.jpg)
    no-repeat center;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  transition: 1s ease;
}

.container-box:nth-child(5):hover {
  background: rgba(0, 0, 0, 0.7) url(../../images/USS_images/newyork_image5.jpg)
    no-repeat center;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  transition: 1s ease;
}

.container-box:nth-child(6):hover {
  background: rgba(0, 0, 0, 0.7) url(../../images/USS_images/newyork_image6.jpg)
    no-repeat center;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  transition: 1s ease;
}

.container-box:hover h4 {
  color: #f9a01b;
  transition: 0.5s ease;
}

.container-box:hover p {
  color: #fdb813;
  transition: 0.5s ease;
}

.container-box h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  opacity: 1;
  color: transparent;
  transition: 0.5s ease;
}

.container-box p {
  font-size: 15px;
  color: transparent;
  opacity: 1;
}

.container-box:hover {
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border: 1px solid transparent;
  transform: translateY(-3px);
  transition: 0.5s ease;
}

.new-york-text {
  font-family: "Bebas Neue", sans-serif;
  text-shadow: 3px 3px #000;
  transition: ease 1s;
}

.new-york-text span:nth-child(odd) {
  color: #003656;
}

.new-york-text span:nth-child(even) {
  color: #fdb813;
}

.return-arrow {
  background-color: #fdb813;
  color: #003656;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.return-arrow span {
  transition: color 0.3s ease-in-out;
}

.return-arrow:hover span {
  color: #fff;
}

.return-arrow i {
  position: absolute;
  color: #003656;
  left: 10px;
  top: 48%;
  transform: translateY(-50%);
  transition: color 0.3s ease-in-out;
}

.return-arrow:hover i {
  color: #fff;
}

.return-text {
  font-family: "Bebas Neue", cursive, sans-serif;
  margin-left: 25px;
  margin-top: 20px;
  font-size: 18px;
  color: #003656;
}

.table-container th h1 {
  font-size: 1.2em;
  text-align: left;
  color: #ffffff;
}

.table-container td {
  font-size: 1em;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.table-container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 80px auto;
}

.table-container td,
.table-container th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}
/* Background-color of the odd rows */
.table-container tr:nth-child(odd) {
  background-color: #fdb813;
  color: #003656;
  transition: all 0.5s linear;
}
/* Background-color of the even rows */
.table-container tr:nth-child(even) {
  background-color: #003656;
  color: #fdb813;
  transition: all 0.5s linear;
}

.table-container th {
  background-color: #b87333;
}

.table-container tr:hover {
  background-color: #7a6538;
}

.table-container td:hover {
  background-color: #228b22;
  transition: all 0.5s linear;
}
/* pop-up */
.pop-up {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  overflow-y: auto;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  z-index: 10;
  background-color: #ffffff;
  width: calc(100% - 40px);
  height: auto;
}

.pop-up .container {
  padding: 70px 0px;
  max-width: 520px;
  margin: 0 auto;
}

.pop-up .close {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
  font-size: 1.1rem;
  color: #3e4146;
  transition: all 0.4s;
}

.pop-up .title h1 {
  text-align: center;
  color: #003656;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.7rem;
  letter-spacing: 0.05rem;
}

.pop-up .title p {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

.pop-up.open {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 1920px) {
  section {
    padding: 60px 3%;
    transition: 0.2s;
  }
}

@media (max-width: 1040px) {
  .main {
    justify-content: flex-start;
  }

  #information .text {
    width: 100%;
    color: #fff;
    border-radius: 20px;
    margin: 0;
    padding: 60px;
    background-color: #232b2b;
  }

  #information figure {
    display: none;
    width: 0%;
  }
}

@media (max-width: 850px) {
  .table-container td:nth-child(4),
  .table-container th:nth-child(4) {
    display: none;
  }
}

@media (max-width: 768px) {
  .pop-up .container {
    padding: 50px 20px;
  }
}

@media (max-width: 600px) {
  .table-container td:nth-child(3),
  .table-container th:nth-child(3) {
    display: none;
  }
}

@media (max-width: 410px) {
  #information .text h2 {
    font-size: 1.8em;
  }

  #information .text p {
    font-size: 0.9em;
    font-weight: 500;
  }

  .pop-up .title h1 {
    font-size: 1.5em;
  }

  .pop-up .title p {
    font-size: 1em;
  }

  .table-container td {
    font-size: 0.9em;
  }
}
